In [1]:
import pandas as pd

### Electricity prices for household consumers - bi-annual data (from 2007 onwards)
Europe

In [2]:
# df = pd.read_csv("data/nrg_pc_204_c_linear.csv")
df = pd.read_csv("data/nrg_pc_204_linear-electricity_prices_household.csv")
df

,DATAFLOW,LAST UPDATE,freq,product,consom,unit,tax,currency,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:NRG_PC_204(1.0),27/06/22 23:00:00,S,6000,4161901,KWH,I_TAX,EUR,AL,2011-S1,0.1152,NaN
1,ESTAT:NRG_PC_204(1.0),27/06/22 23:00:00,S,6000,4161901,KWH,I_TAX,EUR,AL,2011-S2,0.1157,NaN
2,ESTAT:NRG_PC_204(1.0),27/06/22 23:00:00,S,6000,4161901,KWH,I_TAX,EUR,AL,2012-S1,0.1163,NaN
3,ESTAT:NRG_PC_204(1.0),27/06/22 23:00:00,S,6000,4161901,KWH,I_TAX,EUR,AL,2012-S2,0.1167,NaN
4,ESTAT:NRG_PC_204(1.0),27/06/22 23:00:00,S,6000,4161901,KWH,I_TAX,EUR,AL,2013-S1,0.1156,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
48175,ESTAT:NRG_PC_204(1.0),27/06/22 23:00:00,S,6000,4161905,KWH,X_VAT,PPS,UK,2018-S1,0.1325,NaN
48176,ESTAT:NRG_PC_204(1.0),27/06/22 23:00:00,S,6000,4161905,KWH,X_VAT,PPS,UK,2018-S2,0.1452,NaN
48177,ESTAT:NRG_PC_204(1.0),27/06/22 23:00:00,S,6000,4161905,KWH,X_VAT,PPS,UK,2019-S1,0.1453,NaN
48178,ESTAT:NRG_PC_204(1.0),27/06/22 23:00:00,S,6000,4161905,KWH,X_VAT,PPS,UK,2019-S2,0.1553,NaN
48179,ESTAT:NRG_PC_204(1.0),27/06/22 23:00:00,S,6000,4161905,KWH,X_VAT,PPS,UK,2020-S1,0.1554,NaN

- AL: Albania
- All taxes and levies included
- currency: EUR

In [7]:
df.geo.unique()
# df.loc[(df.geo == 'AL') & (df.freq == 'A')]
# df.loc[(df.geo == 'AL') & (df.TIME_PERIOD == '2011-S1') & (df.currency == 'EUR')]
df.loc[(df.geo == 'AL') & (df.tax == 'I_TAX') & (df.currency == 'EUR')]

,DATAFLOW,LAST UPDATE,freq,product,consom,unit,tax,currency,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:NRG_PC_204(1.0),27/06/22 23:00:00,S,6000,4161901,KWH,I_TAX,EUR,AL,2011-S1,0.1152,NaN
1,ESTAT:NRG_PC_204(1.0),27/06/22 23:00:00,S,6000,4161901,KWH,I_TAX,EUR,AL,2011-S2,0.1157,NaN
2,ESTAT:NRG_PC_204(1.0),27/06/22 23:00:00,S,6000,4161901,KWH,I_TAX,EUR,AL,2012-S1,0.1163,NaN
3,ESTAT:NRG_PC_204(1.0),27/06/22 23:00:00,S,6000,4161901,KWH,I_TAX,EUR,AL,2012-S2,0.1167,NaN
4,ESTAT:NRG_PC_204(1.0),27/06/22 23:00:00,S,6000,4161901,KWH,I_TAX,EUR,AL,2013-S1,0.1156,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
38562,ESTAT:NRG_PC_204(1.0),27/06/22 23:00:00,S,6000,4161905,KWH,I_TAX,EUR,AL,2019-S1,0.0920,e
38563,ESTAT:NRG_PC_204(1.0),27/06/22 23:00:00,S,6000,4161905,KWH,I_TAX,EUR,AL,2019-S2,0.0933,NaN
38564,ESTAT:NRG_PC_204(1.0),27/06/22 23:00:00,S,6000,4161905,KWH,I_TAX,EUR,AL,2020-S1,0.0922,e
38565,ESTAT:NRG_PC_204(1.0),27/06/22 23:00:00,S,6000,4161905,KWH,I_TAX,EUR,AL,2020-S2,0.0920,e
38566,ESTAT:NRG_PC_204(1.0),27/06/22 23:00:00,S,6000,4161905,KWH,I_TAX,EUR,AL,2021-S2,0.0937,NaN

In [11]:
df.TIME_PERIOD.unique()

array(['2017', '2018', '2019', '2020', '2021', '2015-S2', '2016-S2',
       '2008-S2', '2009-S2', '2010-S2', '2011-S2', '2012-S2', '2013-S2',
       '2014-S2', '2007-S2'], dtype=object)

### US, states, monthly

In [3]:
df = pd.read_csv("data/us/Average_retail_price_of_electricity_states.csv")
df

,description,units,source key,Jan 2001,Feb 2001,Mar 2001,Apr 2001,May 2001,Jun 2001,Jul 2001,...,Sep 2021,Oct 2021,Nov 2021,Dec 2021,Jan 2022,Feb 2022,Mar 2022,Apr 2022,May 2022,Jun 2022
0,Average retail price of electricity,cents per kilowatthour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,United States,NaN,ELEC.PRICE.US-ALL.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,New England,NaN,ELEC.PRICE.NEW-ALL.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Connecticut,cents per kilowatthour,ELEC.PRICE.CT-ALL.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Connecticut : all sectors,cents per kilowatthour,ELEC.PRICE.CT-ALL.M,9.76,9.06,9.38,9.61,9.57,9.56,9.78,...,19.62,18.90,18.51,18.55,19.90,23.20,20.77,22.22,20.49,21.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364,Hawaii : residential,cents per kilowatthour,ELEC.PRICE.HI-RES.M,16.94,16.73,16.58,16.19,16.30,16.38,16.62,...,34.30,34.28,34.57,35.57,37.44,38.15,39.97,41.57,43.11,44.09
365,Hawaii : commercial,cents per kilowatthour,ELEC.PRICE.HI-COM.M,15.36,15.27,15.02,14.77,14.76,14.68,14.96,...,31.76,31.92,32.36,34.45,36.29,35.68,37.10,38.75,40.39,41.20
366,Hawaii : industrial,cents per kilowatthour,ELEC.PRICE.HI-IND.M,12.05,12.01,11.83,11.54,11.41,11.65,11.89,...,28.21,27.96,28.40,30.69,32.14,31.47,32.83,34.49,36.20,37.09
367,Hawaii : transportation,cents per kilowatthour,ELEC.PRICE.HI-TRA.M,--,--,--,--,--,--,--,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
368,Hawaii : other,cents per kilowatthour,ELEC.PRICE.HI-OTH.M,16.50,16.33,16.09,16.31,16.21,17.06,17.69,...,--,--,--,--,--,--,--,--,--,--

In [5]:
df.loc[(df.description == 'Connecticut : residential') ]#& (df.tax == 'I_TAX') & (df.currency == 'EUR')]

,description,units,source key,Jan 2001,Feb 2001,Mar 2001,Apr 2001,May 2001,Jun 2001,Jul 2001,...,Sep 2021,Oct 2021,Nov 2021,Dec 2021,Jan 2022,Feb 2022,Mar 2022,Apr 2022,May 2022,Jun 2022
5,Connecticut : residential,cents per kilowatthour,ELEC.PRICE.CT-RES.M,10.70,10.23,10.60,10.87,11.20,11.06,11.00,...,22.42,22.85,21.35,20.85,22.28,26.48,25.61,27.10,24.81,25.43