In [22]:
import pandas as pd
import numpy as np

### US, states, monthly

In [23]:
df = pd.read_csv("data/us/Average_retail_price_of_electricity_US_states.csv")
df.head()

,description,units,source key,Jan 2001,Feb 2001,Mar 2001,Apr 2001,May 2001,Jun 2001,Jul 2001,...,Sep 2021,Oct 2021,Nov 2021,Dec 2021,Jan 2022,Feb 2022,Mar 2022,Apr 2022,May 2022,Jun 2022
0,Connecticut : all sectors,cents per kilowatthour,ELEC.PRICE.CT-ALL.M,9.76,9.06,9.38,9.61,9.57,9.56,9.78,...,19.62,18.90,18.51,18.55,19.90,23.20,20.77,22.22,20.49,21.49
1,Connecticut : residential,cents per kilowatthour,ELEC.PRICE.CT-RES.M,10.70,10.23,10.60,10.87,11.20,11.06,11.00,...,22.42,22.85,21.35,20.85,22.28,26.48,25.61,27.10,24.81,25.43
2,Connecticut : commercial,cents per kilowatthour,ELEC.PRICE.CT-COM.M,9.19,8.73,8.89,9.15,9.45,9.28,9.29,...,17.92,16.91,16.93,16.83,17.79,21.00,17.07,19.34,17.94,19.07
3,Connecticut : industrial,cents per kilowatthour,ELEC.PRICE.CT-IND.M,8.09,7.25,7.53,7.79,7.50,7.48,7.94,...,13.52,13.48,13.29,13.49,14.67,15.20,14.34,14.63,14.30,15.00
4,Connecticut : transportation,cents per kilowatthour,ELEC.PRICE.CT-TRA.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.77,10.17,14.71,14.22,21.18,23.65,18.58,21.90,13.64,14.37

In [24]:
df.describe()

,Jan 2001,Feb 2001,Mar 2001,Apr 2001,May 2001,Jun 2001,Jul 2001,Aug 2001,Sep 2001,Oct 2001,...,Sep 2021,Oct 2021,Nov 2021,Dec 2021,Jan 2022,Feb 2022,Mar 2022,Apr 2022,May 2022,Jun 2022
count,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,...,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000
mean,7.078980,7.216235,7.372824,7.483686,7.607843,7.870706,7.977216,7.895804,7.695961,7.635412,...,10.705255,10.561412,10.526667,10.392275,10.640000,10.850353,10.879020,11.084314,11.335882,11.846863
std,3.040471,2.905729,3.063018,3.277404,3.110625,3.321589,3.390381,3.187567,3.255038,3.224567,...,5.529176,5.507228,5.504570,5.662963,5.910288,6.082687,6.108422,6.215228,6.283158,6.429802
min,2.910000,2.880000,2.810000,2.880000,3.060000,3.320000,3.330000,3.570000,2.050000,2.810000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.120000,5.330000,5.425000,5.395000,5.525000,5.660000,5.655000,5.735000,5.485000,5.570000,...,7.935000,7.945000,7.890000,7.740000,7.825000,8.065000,7.890000,8.010000,8.345000,8.875000
50%,6.210000,6.560000,6.650000,6.630000,6.910000,7.210000,7.220000,7.270000,7.020000,6.920000,...,10.420000,10.230000,10.240000,10.060000,10.020000,10.220000,10.280000,10.480000,10.680000,11.510000
75%,8.085000,8.350000,8.490000,8.675000,8.930000,8.960000,9.020000,8.890000,8.780000,8.770000,...,12.870000,12.755000,12.750000,12.455000,12.500000,12.820000,12.880000,13.305000,13.610000,13.985000
max,25.230000,24.210000,24.040000,26.350000,25.570000,28.360000,25.850000,25.690000,25.310000,25.920000,...,34.300000,34.280000,34.570000,35.570000,37.440000,38.150000,39.970000,41.570000,43.110000,44.090000

### US, states, monthly percentage change

In [25]:
df = pd.read_csv("data/us/Average_retail_price_of_electricity_US_states_pct_change.csv")
df.head()

,description,units,source key,Jan 2001,Feb 2001,Mar 2001,Apr 2001,May 2001,Jun 2001,Jul 2001,...,Sep 2021,Oct 2021,Nov 2021,Dec 2021,Jan 2022,Feb 2022,Mar 2022,Apr 2022,May 2022,Jun 2022
0,Connecticut : all sectors,cents per kilowatthour,ELEC.PRICE.CT-ALL.M,NaN,-7.172131,3.532009,2.452026,-0.416233,-0.104493,2.301255,...,12.953368,-3.669725,-2.063492,0.216099,7.277628,16.582915,-10.474138,6.981223,-7.785779,4.880429
1,Connecticut : residential,cents per kilowatthour,ELEC.PRICE.CT-RES.M,NaN,-4.392523,3.616813,2.547170,3.035879,-1.250000,-0.542495,...,8.048193,1.917930,-6.564551,-2.341920,6.858513,18.850987,-3.285498,5.818040,-8.450185,2.498992
2,Connecticut : commercial,cents per kilowatthour,ELEC.PRICE.CT-COM.M,NaN,-5.005441,1.832761,2.924634,3.278689,-1.798942,0.107759,...,20.673401,-5.636161,0.118273,-0.590667,5.704100,18.043845,-18.714286,13.298184,-7.238883,6.298774
3,Connecticut : industrial,cents per kilowatthour,ELEC.PRICE.CT-IND.M,NaN,-10.383189,3.862069,3.452855,-3.722721,-0.266667,6.149733,...,5.873140,-0.295858,-1.409496,1.504891,8.747220,3.612815,-5.657895,2.022315,-2.255639,4.895105
4,Connecticut : transportation,cents per kilowatthour,ELEC.PRICE.CT-TRA.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.692451,-13.593883,44.641101,-3.331067,48.945148,11.661945,-21.437632,17.868676,-37.716895,5.351906

In [26]:
df.describe()

,Jan 2001,Feb 2001,Mar 2001,Apr 2001,May 2001,Jun 2001,Jul 2001,Aug 2001,Sep 2001,Oct 2001,...,Sep 2021,Oct 2021,Nov 2021,Dec 2021,Jan 2022,Feb 2022,Mar 2022,Apr 2022,May 2022,Jun 2022
count,0.0,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,...,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000
mean,NaN,2.980880,2.331546,1.446179,2.712272,3.536877,1.366668,-0.112296,-2.478780,0.985910,...,1.105134,-1.138941,-0.184450,-1.366534,1.935323,1.542779,0.333179,1.844890,2.331050,4.229834
std,NaN,12.938411,11.669274,7.769137,8.503055,7.805754,7.681728,10.588510,9.619117,33.043080,...,5.704457,5.294929,5.609383,5.143685,7.089500,4.789886,4.690287,4.495598,5.333312,7.522239
min,NaN,-38.191882,-26.373626,-45.141066,-27.013752,-32.185749,-27.249022,-40.361865,-85.283561,-20.191159,...,-35.009141,-27.707809,-29.310345,-28.117554,-17.906137,-28.217822,-21.959858,-13.640239,-37.716895,-14.890282
25%,NaN,-0.430953,-1.528192,-0.964932,-0.636231,-0.143156,-1.625895,-1.757984,-4.969427,-5.802419,...,-0.318363,-2.918498,-2.303893,-3.148931,-0.722555,0.000000,-1.399995,0.000000,0.000000,0.000000
50%,NaN,2.214349,0.969697,1.562500,2.147651,2.672956,0.384320,0.000000,-1.910828,-1.617251,...,0.282325,0.000000,0.000000,-0.907499,0.000000,0.735585,0.000000,1.110478,1.307579,2.629657
75%,NaN,5.175442,3.379216,4.475942,5.380293,5.628904,3.232228,1.334739,0.486286,2.745971,...,2.530853,1.381574,1.587524,0.029833,3.129145,3.330521,2.679922,3.577748,4.437201,6.638913
max,NaN,174.117647,123.582090,31.949367,72.727273,48.454883,55.384615,145.345345,67.794632,506.829268,...,54.068716,12.121212,44.641101,22.214076,48.945148,18.850987,16.066482,26.802218,29.230769,50.617284