In [1]:
import pandas as pd
import numpy as np

### US, states, monthly

In [5]:
file_path = "data/us/1122/us_electricity_price_Nov22/Average_retail_price_of_electricity_US_states.csv"

In [6]:
df = pd.read_csv(file_path)
df

,description,units,source key,Jan 2001,Feb 2001,Mar 2001,Apr 2001,May 2001,Jun 2001,Jul 2001,...,Dec 2021,Jan 2022,Feb 2022,Mar 2022,Apr 2022,May 2022,Jun 2022,Jul 2022,Aug 2022,Sep 2022
0,New England : all sectors,million kilowatthours,ELEC.SALES.NEW-ALL.M,10623.0,9550.0,10067.0,8908.0,9323.0,10210.0,10289.0,...,9384.0,10380.0,9489.0,9314.0,8636.0,8690.0,9017.0,11080.0,11404.0,9467.0
1,New England : residential,million kilowatthours,ELEC.SALES.NEW-RES.M,4373.0,3525.0,3798.0,3165.0,2893.0,3382.0,3744.0,...,4191.0,4831.0,4302.0,3974.0,3507.0,3409.0,3606.0,4835.0,5159.0,3892.0
2,New England : commercial,million kilowatthours,ELEC.SALES.NEW-COM.M,4274.0,3818.0,4175.0,3748.0,4085.0,4380.0,4324.0,...,3887.0,4209.0,3899.0,3965.0,3822.0,3929.0,4067.0,4805.0,4795.0,4252.0
3,New England : industrial,million kilowatthours,ELEC.SALES.NEW-IND.M,1843.0,2079.0,1972.0,1884.0,2235.0,2335.0,2110.0,...,1260.0,1294.0,1244.0,1330.0,1271.0,1313.0,1304.0,1399.0,1409.0,1282.0
4,New England : transportation,million kilowatthours,ELEC.SALES.NEW-TRA.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45.0,46.0,44.0,46.0,36.0,39.0,40.0,41.0,42.0,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,Hawaii : residential,million kilowatthours,ELEC.SALES.HI-RES.M,248.0,204.0,230.0,220.0,229.0,227.0,248.0,...,250.0,242.0,195.0,219.0,212.0,224.0,225.0,237.0,245.0,240.0
362,Hawaii : commercial,million kilowatthours,ELEC.SALES.HI-COM.M,249.0,231.0,252.0,245.0,262.0,262.0,276.0,...,231.0,213.0,207.0,225.0,223.0,237.0,230.0,242.0,252.0,251.0
363,Hawaii : industrial,million kilowatthours,ELEC.SALES.HI-IND.M,317.0,283.0,312.0,304.0,322.0,313.0,333.0,...,276.0,268.0,249.0,286.0,274.0,287.0,281.0,306.0,308.0,303.0
364,Hawaii : transportation,million kilowatthours,ELEC.SALES.HI-TRA.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
365,Hawaii : other,million kilowatthours,ELEC.SALES.HI-OTH.M,5.0,5.0,6.0,5.0,5.0,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.describe()

,Jan 2001,Feb 2001,Mar 2001,Apr 2001,May 2001,Jun 2001,Jul 2001,Aug 2001,Sep 2001,Oct 2001,...,Dec 2021,Jan 2022,Feb 2022,Mar 2022,Apr 2022,May 2022,Jun 2022,Jul 2022,Aug 2022,Sep 2022
count,305.000000,305.000000,305.000000,305.000000,305.000000,305.00000,305.000000,305.000000,305.000000,305.000000,...,305.000000,305.000000,305.000000,305.000000,305.000000,305.000000,305.000000,305.000000,305.000000,305.000000
mean,4076.298361,3571.600000,3531.832787,3336.265574,3468.727869,3803.40000,4141.586885,4356.642623,3880.963934,3508.996721,...,4031.298361,4422.754098,3993.262295,3983.816393,3722.993443,4037.622951,4540.737705,5085.075410,5085.344262,4437.875410
std,7526.443730,6500.745198,6400.344901,6061.570701,6294.470963,6990.27047,7645.513568,8056.357851,7226.123611,6412.524632,...,7494.521169,8278.144433,7485.377882,7449.792637,6994.519012,7741.040867,8770.198664,9761.220376,9734.058998,8507.357292
min,4.000000,3.000000,4.000000,3.000000,3.000000,3.00000,3.000000,4.000000,4.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,387.000000,350.000000,333.000000,310.000000,311.000000,329.00000,347.000000,370.000000,343.000000,325.000000,...,256.000000,268.000000,247.000000,258.000000,257.000000,244.000000,238.000000,292.000000,269.000000,261.000000
50%,1418.000000,1298.000000,1256.000000,1244.000000,1260.000000,1381.00000,1425.000000,1468.000000,1433.000000,1280.000000,...,1422.000000,1547.000000,1390.000000,1420.000000,1351.000000,1406.000000,1577.000000,1700.000000,1722.000000,1525.000000
75%,4276.000000,3625.000000,3535.000000,3279.000000,3439.000000,3686.00000,4177.000000,4428.000000,3910.000000,3381.000000,...,4201.000000,4687.000000,4347.000000,4076.000000,3756.000000,3929.000000,4433.000000,5096.000000,4980.000000,4354.000000
max,68544.000000,56924.000000,55792.000000,53828.000000,54963.000000,62512.00000,67716.000000,70677.000000,65049.000000,56133.000000,...,65777.000000,74928.000000,67597.000000,65133.000000,62162.000000,70848.000000,78748.000000,88355.000000,85916.000000,74355.000000

### US, states, monthly percentage change

In [8]:
df = pd.read_csv("data/us/1122/us_electricity_price_Nov22/Average_retail_price_of_electricity_US_states_pct_change.csv")
df.head()

,description,units,source key,Jan 2001,Feb 2001,Mar 2001,Apr 2001,May 2001,Jun 2001,Jul 2001,...,Dec 2021,Jan 2022,Feb 2022,Mar 2022,Apr 2022,May 2022,Jun 2022,Jul 2022,Aug 2022,Sep 2022
0,New England : all sectors,million kilowatthours,ELEC.SALES.NEW-ALL.M,NaN,-10.100725,5.413613,-11.512864,4.658734,9.514105,0.773751,...,8.473009,10.613811,-8.583815,-1.844241,-7.279364,0.625289,3.762946,22.879006,2.924188,-16.985268
1,New England : residential,million kilowatthours,ELEC.SALES.NEW-RES.M,NaN,-19.391722,7.744681,-16.666667,-8.593997,16.902869,10.703726,...,20.812914,15.270818,-10.950114,-7.624361,-11.751384,-2.794411,5.778821,34.082085,6.701138,-24.559023
2,New England : commercial,million kilowatthours,ELEC.SALES.NEW-COM.M,NaN,-10.669162,9.350445,-10.227545,8.991462,7.221542,-1.278539,...,0.465236,8.284024,-7.365170,1.692742,-3.606557,2.799581,3.512344,18.146054,-0.208117,-11.324296
3,New England : industrial,million kilowatthours,ELEC.SALES.NEW-IND.M,NaN,12.805209,-5.146705,-4.462475,18.630573,4.474273,-9.635974,...,-1.253918,2.698413,-3.863988,6.913183,-4.436090,3.304485,-0.685453,7.285276,0.714796,-9.013485
4,New England : transportation,million kilowatthours,ELEC.SALES.NEW-TRA.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.000000,2.222222,-4.347826,4.545455,-21.739130,8.333333,2.564103,2.500000,2.439024,-2.380952

In [9]:
df.describe()

,Jan 2001,Feb 2001,Mar 2001,Apr 2001,May 2001,Jun 2001,Jul 2001,Aug 2001,Sep 2001,Oct 2001,...,Dec 2021,Jan 2022,Feb 2022,Mar 2022,Apr 2022,May 2022,Jun 2022,Jul 2022,Aug 2022,Sep 2022
count,0.0,305.000000,305.000000,305.000000,305.000000,305.000000,305.000000,305.000000,305.000000,305.000000,...,339.000000,339.000000,339.000000,339.000000,339.000000,339.000000,339.000000,339.000000,339.000000,339.000000
mean,NaN,-9.135472,0.415034,-5.630186,4.263322,7.610844,7.568517,5.370796,-6.876615,-6.633970,...,7.146418,7.108870,-6.950641,0.611523,-5.395357,4.780342,7.645783,9.711990,0.017719,-8.468184
std,NaN,10.821817,12.669227,9.454095,9.774172,10.234970,11.925365,7.796704,36.110255,12.180813,...,12.658386,11.742549,8.244368,10.396052,8.349512,10.031379,12.072718,14.824616,6.539289,10.972115
min,NaN,-35.335581,-44.444444,-50.000000,-41.721854,-17.634746,-37.675011,-12.953368,-44.694132,-82.879377,...,-18.872267,-17.365269,-65.454545,-50.000000,-43.750000,-45.454545,-63.888889,-50.000000,-50.000000,-40.044854
25%,NaN,-14.741036,-4.896066,-11.512864,-0.055820,0.432463,0.080775,1.039288,-14.911812,-12.741546,...,0.000000,0.000000,-11.421804,-3.132056,-10.321380,0.000000,0.000000,0.000000,-2.680748,-14.248454
50%,NaN,-9.871917,0.000000,-5.934455,4.090909,6.771429,6.815366,4.322034,-7.185123,-5.541872,...,3.647416,3.748871,-7.470289,0.000000,-4.561436,3.304485,5.047319,8.164794,0.000000,-8.709677
75%,NaN,-5.797101,5.257143,0.000000,8.423475,12.229052,12.000000,8.081705,-2.363368,0.519481,...,10.516398,11.079593,0.000000,5.464871,0.000000,8.673310,13.270856,15.470894,2.034962,0.000000
max,NaN,50.000000,150.000000,69.491525,66.666667,42.096902,51.829268,69.565217,594.594595,25.000000,...,100.000000,120.000000,47.368421,84.210526,37.142857,50.000000,83.333333,134.615385,21.153846,100.000000